<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="/static/icon4.png" type="image/png">
  <link rel="icon" href="/static/icon4.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/static/about.css">
</head>
<body>
<div class="about-section">
    <h1>About Us Page</h1>
    <p>A hospital which puts their patients first</p>
    <p>Located At - St Leo's road, Mumbai - 400030, Maharashtra, India .</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEABsbGxscGx4hIR4qLSgtKj04MzM4PV1CR0JHQl2NWGdYWGdYjX2Xe3N7l33gsJycsOD/2c7Z//////////////8BGxsbGxwbHiEhHiotKC0qPTgzMzg9XUJHQkdCXY1YZ1hYZ1iNfZd7c3uXfeCwnJyw4P/Zztn////////////////CABEIAGQAlQMBIgACEQEDEQH/xAAWAAEBAQAAAAAAAAAAAAAAAAAAAQb/2gAIAQEAAAAAzIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALAAAf/8QAFQEBAQAAAAAAAAAAAAAAAAAAAAH/2gAKAgIQAxAAAAAAAAAAAAAAAAAAAAABRAAAAAD/xAAUEAEAAAAAAAAAAAAAAAAAAABw/9oACAEBAAE/AHf/xAAUEQEAAAAAAAAAAAAAAAAAAABg/9oACAECAQE/AA3/xAAUEQEAAAAAAAAAAAAAAAAAAABg/9oACAEDAQE/AA3/2Q==" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jayden Dabhi</h2>
          <p class="title">CEO & Director</p>
          <p>"Aim for a better future."</p>
          <p>Contact - jdabhi@hospitease.com</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEABsbGxscGx4hIR4qLSgtKj04MzM4PV1CR0JHQl2NWGdYWGdYjX2Xe3N7l33gsJycsOD/2c7Z//////////////8BGxsbGxwbHiEhHiotKC0qPTgzMzg9XUJHQkdCXY1YZ1hYZ1iNfZd7c3uXfeCwnJyw4P/Zztn////////////////CABEIAGQAlQMBIgACEQEDEQH/xAAWAAEBAQAAAAAAAAAAAAAAAAAAAQb/2gAIAQEAAAAAzIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALAAAf/8QAFQEBAQAAAAAAAAAAAAAAAAAAAAH/2gAKAgIQAxAAAAAAAAAAAAAAAAAAAAABRAAAAAD/xAAUEAEAAAAAAAAAAAAAAAAAAABw/9oACAEBAAE/AHf/xAAUEQEAAAAAAAAAAAAAAAAAAABg/9oACAECAQE/AA3/xAAUEQEAAAAAAAAAAAAAAAAAAABg/9oACAEDAQE/AA3/2Q==" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Jayden Coutinho</h2>
          <p class="title">Ass. Director</p>
          <p>"Every life matters"</p>
          <p>Contact - jaydencoutinho@hospitease.com</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEABsbGxscGx4hIR4qLSgtKj04MzM4PV1CR0JHQl2NWGdYWGdYjX2Xe3N7l33gsJycsOD/2c7Z//////////////8BGxsbGxwbHiEhHiotKC0qPTgzMzg9XUJHQkdCXY1YZ1hYZ1iNfZd7c3uXfeCwnJyw4P/Zztn////////////////CABEIAGQAlQMBIgACEQEDEQH/xAAWAAEBAQAAAAAAAAAAAAAAAAAAAQb/2gAIAQEAAAAAzIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALAAAf/8QAFQEBAQAAAAAAAAAAAAAAAAAAAAH/2gAKAgIQAxAAAAAAAAAAAAAAAAAAAAABRAAAAAD/xAAUEAEAAAAAAAAAAAAAAAAAAABw/9oACAEBAAE/AHf/xAAUEQEAAAAAAAAAAAAAAAAAAABg/9oACAECAQE/AA3/xAAUEQEAAAAAAAAAAAAAAAAAAABg/9oACAEDAQE/AA3/2Q==" alt="John" style="width:100%">
        <div class="container">
          <h2>Abriel Dsouza</h2>
          <p class="title">Manager</p>
          <p>"Live, Laugh, Love"</p>
          <p>Contact - abrieldsouza@hospitease.com</p>
          
        </div>
      </div>
    </div>
  </div>
  <footer>
    <a href="/templates/home.html">Home</a>
</footer>
  </body>
  </html>