<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/facility.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <img id="logo" src="/static/Logo.png" alt="Logo">
        
        <nav class="nav-items">
          <a href="/templates/home.html">Home</a>
          <a href="/templates/facility.html">Facilities</a>
          <a href="/templates/about.html">Our Staff</a>
          <a href="/templates/Login.html">Login</a>
        </nav>
      </header>

      <div class="contain">
        <div class="card">
            <img src="/static/vaccine.jpg" alt="" class="img1">
             <div class="card-body">
                <h1 class="card-title">Vaccine</h1>
                <p class="card-subtitle">Elevate your immune defense with our cutting-edge vaccines. Our Vaccine Center is your shield against preventable diseases, offering a range of vaccinations for all ages. From childhood immunizations to travel vaccines, our expert healthcare team ensures your well-being with every shot.</p>
                <a href="/templates/vac.html"><button class="card-btn">Learn More</button></a>
            </div>
             
        </div>
        
        <div class="card">
            <img src="/static/xray.jpg" alt="" class="img1">
             <div class="card-body">
                <h1 class="card-title">X-Ray</h1>
                <p class="card-subtitle">Our state-of-the-art X-ray facility is equipped with the latest technology to provide accurate diagnostic imaging. Our team of experienced radiologists ensures high-quality results and quick turnaround times</p>
                <a href="/templates/xray.html"><button class="card-btn">Learn More</button></a>
            </div>
             </div>
             <div class="card">
                <img src="/static/physio.jpg" alt="" class="img1">
                 <div class="card-body">
                    <h1 class="card-title">Physiotherapy</h1>
                    <p class="card-subtitle">Our dedicated physiotherapy department focuses on enhancing your well-being through personalized rehabilitation programs. Our skilled physiotherapists use advanced techniques to address various musculoskeletal conditions and improve mobility.</p>
                    <a href="/templates/physio.html"><button class="card-btn">Learn More</button></a>
                </div>
                 
            </div>
            <div class="card">
                <img src="/static/Sonography.jpg" alt="" class="img1">
                 <div class="card-body">
                    <h1 class="card-title">Sonography</h1>
                    <p class="card-subtitle">Our advanced Sonography department is committed to providing accurate and detailed imaging for diagnostic purposes. Our skilled sonographers utilize cutting-edge technology to perform a wide range of ultrasound examinations with precision and care.</p>
                    <a href="/templates/sono.html"><button class="card-btn">Learn More</button></a>
                </div>
                 <div class="card">
            <img src="/static/patho.jpeg" alt="" class="img1">
             <div class="card-body">
                <h1 class="card-title">Pathology</h1>
                <p class="card-subtitle">Our Pathology laboratory is dedicated to providing accurate and timely diagnostic testing services. We employ a team of experienced pathologists and use cutting-edge technology to ensure precise and reliable results for various medical conditions.</p>
                <a href="/templates/patho.html"><button class="card-btn">Learn More</button></a>
            </div>
             
        </div>
        <div class="card">
            <img src="/static/mri.jpeg" alt="" class="img1">
             <div class="card-body">
                <h1 class="card-title">MRI</h1>
                <p class="card-subtitle">Our MRI facility offers advanced imaging services using state-of-the-art magnetic resonance technology. Our team of skilled radiologists and technicians ensures detailed and high-resolution imaging for accurate diagnosis of various medical conditions.</p>
                <a href="/templates/mri.html"><button class="card-btn">Learn More</button></a>
            </div>
             
        </div>
        <div class="card">
            <img src="/static/ct.jpeg" alt="" class="img1">
             <div class="card-body">
                <h1 class="card-title">CT-scan</h1>
                <p class="card-subtitle">Our CT Scan facility utilizes cutting-edge technology to provide detailed cross-sectional images for precise diagnostic purposes. Our experienced radiologists and technicians ensure accurate and efficient imaging for a wide range of medical conditions.</p>
                <a href="/templates/ct.html"><button class="card-btn">Learn More</button></a>
            </div>
             
        </div>
        <div class="card">
            <img src="/static/speech.jpg" alt="" class="img1">
             <div class="card-body">
                <h1 class="card-title">Speech Therapy</h1>
                <p class="card-subtitle">Our Speech Therapy Department is dedicated to enhancing communication and improving speech-related challenges. Our team of licensed speech-language pathologists works with individuals of all ages, addressing speech and language disorders, articulation difficulties, voice disorders, and swallowing issues. </p>
                <a href="/templates/speech.html"><button class="card-btn">Learn More</button></a>
            </div>
             
        </div>


        <div class="card">
            <img src="/static/cardiology.jpg" alt="" class="img1">
             <div class="card-body">
                <h1 class="card-title">Cardiology</h1>
                <p class="card-subtitle">Our Cardiology department is dedicated to providing comprehensive cardiovascular care. Our team of experienced cardiologists and state-of-the-art equipment ensure accurate diagnosis and effective treatment for various heart-related conditions.</p>
                <a href="/templates/index.html"><button class="card-btn">Learn More</button></a>
            </div>
             
        </div>
        <div class="card">
            <img src="/static/neuro.jpg" alt="" class="img1">
             <div class="card-body">
                <h1 class="card-title">Neurology</h1>
                <p class="card-subtitle">Our Neurology department specializes in diagnosing and treating a range of neurological disorders, from headaches to complex conditions like epilepsy and stroke. With advanced diagnostic tools and a team of experienced neurologists, we provide personalized care to enhance the well-being of our patients.</p>
                <a href="/templates/index.html"><button class="card-btn">Learn More</button></a>
            </div>
        </div>

        <div class="card">
            <img src="/static/gyna.webp" alt="" class="img1">
             <div class="card-body">
                <h1 class="card-title">Gynaecology</h1>
                <p class="card-subtitle">Our Gynecology department is dedicated to providing comprehensive and compassionate care for women's reproductive health. Our team of experienced gynecologists and women's health specialists offers a range of services, including routine check-ups, prenatal care, family planning, and gynecological surgeries.</p>
                <a href="/templates/index.html"><button class="card-btn">Learn More</button></a>
            </div>
             
        </div>

        <div class="card">
            <img src="/static/emer.jpg" alt="" class="img1">
             <div class="card-body">
                <h1 class="card-title">Emergency Department</h1>
                <p class="card-subtitle">Our Emergency Department stands as a beacon of immediate care, ready to address critical medical needs 24/7. Staffed with a team of dedicated emergency physicians, skilled nurses, and support staff, we are equipped to handle a wide range of medical emergencies.</p>
                <a href="/templates/index.html"><button class="card-btn">Learn More</button></a>
            </div>
             
        </div>

        <div class="card">
            <img src="/static/icu.avif" alt="" class="img1">
             <div class="card-body">
                <h1 class="card-title">Intensive Care Unit</h1>
                <p class="card-subtitle">Our Intensive Care Unit (ICU) is dedicated to providing critical care for patients with severe or life-threatening conditions. Staffed by a highly skilled team of intensivists, nurses, and healthcare professionals, our ICU is equipped with advanced monitoring and life support systems.</p>
                <a href="/templates/index.html"><button class="card-btn">Learn More</button></a>
            </div>
        </div>
        <div class="card">
            <img src="/static/pedia.avif" alt="" class="img1">
             <div class="card-body">
                <h1 class="card-title">Pediatrics Department</h1>
                <p class="card-subtitle"> Our Pediatrics department is dedicated to providing specialized and compassionate healthcare for infants, children, and adolescents. Our team of experienced pediatricians and pediatric nurses is committed to ensuring the well-being and healthy development of young patients. </p>
                <a href="/templates/index.html"><button class="card-btn">Learn More</button></a>
            </div>
        </div>

        <div class="card">
            <img src="/static/gastro.jpg" alt="" class="img1">
             <div class="card-body">
                <h1 class="card-title">Gastroenterology Department</h1>
                <p class="card-subtitle">Our Gastroenterology Department is dedicated to the comprehensive care of digestive system disorders and gastrointestinal issues. Led by experienced gastroenterologists and supported by a skilled medical team, we provide a range of diagnostic and therapeutic services. 
            </p>
                <a href="/templates/home.html"><button class="card-btn">Learn More</button></a>
            </div>
        </div>
            </div>
    
            <div class="card">
                <img src="/static/patho.jpeg" alt="" class="img1">
                 <div class="card-body">
                    <h1 class="card-title">Pathology</h1>
                    <p class="card-subtitle">Our Pathology laboratory is dedicated to providing accurate and timely diagnostic testing services. We employ a team of experienced pathologists and use cutting-edge technology to ensure precise and reliable results for various medical conditions.</p>
                    <a href="/templates/patho.html"><button class="card-btn">Learn More</button></a>
                </div>
                 
            </div>
            <div class="card">
                <img src="/static/mri.jpeg" alt="" class="img1">
                 <div class="card-body">
                    <h1 class="card-title">MRI</h1>
                    <p class="card-subtitle">Our MRI facility offers advanced imaging services using state-of-the-art magnetic resonance technology. Our team of skilled radiologists and technicians ensures detailed and high-resolution imaging for accurate diagnosis of various medical conditions.</p>
                    <a href="/templates/mri.html"><button class="card-btn">Learn More</button></a>
                </div>
                 
            </div>
            <div class="card">
                <img src="/static/ct.jpeg" alt="" class="img1">
                 <div class="card-body">
                    <h1 class="card-title">CT-scan</h1>
                    <p class="card-subtitle">Our CT Scan facility utilizes cutting-edge technology to provide detailed cross-sectional images for precise diagnostic purposes. Our experienced radiologists and technicians ensure accurate and efficient imaging for a wide range of medical conditions.</p>
                    <a href="/templates/ct.html"><button class="card-btn">Learn More</button></a>
                </div>
                 
            </div>
            <div class="card">
                <img src="/static/speech.jpg" alt="" class="img1">
                 <div class="card-body">
                    <h1 class="card-title">Speech Therapy</h1>
                    <p class="card-subtitle">Our Speech Therapy Department is dedicated to enhancing communication and improving speech-related challenges. Our team of licensed speech-language pathologists works with individuals of all ages, addressing speech and language disorders, articulation difficulties, voice disorders, and swallowing issues. </p>
                    <a href="/templates/speech.html"><button class="card-btn">Learn More</button></a>
                </div>
                 
            </div>
    
    
            <div class="card">
                <img src="/static/cardiology.jpg" alt="" class="img1">
                 <div class="card-body">
                    <h1 class="card-title">Cardiology</h1>
                    <p class="card-subtitle">Our Cardiology department is dedicated to providing comprehensive cardiovascular care. Our team of experienced cardiologists and state-of-the-art equipment ensure accurate diagnosis and effective treatment for various heart-related conditions.</p>
                    <a href="/templates/index.html"><button class="card-btn">Learn More</button></a>
                </div>
                 
            </div>
            <div class="card">
                <img src="/static/neuro.jpg" alt="" class="img1">
                 <div class="card-body">
                    <h1 class="card-title">Neurology</h1>
                    <p class="card-subtitle">Our Neurology department specializes in diagnosing and treating a range of neurological disorders, from headaches to complex conditions like epilepsy and stroke. With advanced diagnostic tools and a team of experienced neurologists, we provide personalized care to enhance the well-being of our patients.</p>
                    <a href="/templates/index.html"><button class="card-btn">Learn More</button></a>
                </div>
                 
            </div>
            <div class="card">
                <img src="/static/gyna.webp" alt="" class="img1">
                 <div class="card-body">
                    <h1 class="card-title">Gynaecology</h1>
                    <p class="card-subtitle">Our Gynecology department is dedicated to providing comprehensive and compassionate care for women's reproductive health. Our team of experienced gynecologists and women's health specialists offers a range of services, including routine check-ups, prenatal care, family planning, and gynecological surgeries.</p>
                    <a href="/templates/index.html"><button class="card-btn">Learn More</button></a>
                </div>
                 
            </div>
    
            <div class="card">
                <img src="/static/emer.jpg" alt="" class="img1">
                 <div class="card-body">
                    <h1 class="card-title">Emergency Department</h1>
                    <p class="card-subtitle">Our Emergency Department stands as a beacon of immediate care, ready to address critical medical needs 24/7. Staffed with a team of dedicated emergency physicians, skilled nurses, and support staff, we are equipped to handle a wide range of medical emergencies.</p>
                    <a href="/templates/index.html"><button class="card-btn">Learn More</button></a>
                </div>
                 
            </div>
    
            <div class="card">
                <img src="/static/icu.avif" alt="" class="img1">
                 <div class="card-body">
                    <h1 class="card-title">Intensive Care Unit</h1>
                    <p class="card-subtitle">Our Intensive Care Unit (ICU) is dedicated to providing critical care for patients with severe or life-threatening conditions. Staffed by a highly skilled team of intensivists, nurses, and healthcare professionals, our ICU is equipped with advanced monitoring and life support systems.</p>
                    <a href="/templates/index.html"><button class="card-btn">Learn More</button></a>
                </div>
            </div>
            <div class="card">
                <img src="/static/pedia.avif" alt="" class="img1">
                 <div class="card-body">
                    <h1 class="card-title">Pediatrics Department</h1>
                    <p class="card-subtitle"> Our Pediatrics department is dedicated to providing specialized and compassionate healthcare for infants, children, and adolescents. Our team of experienced pediatricians and pediatric nurses is committed to ensuring the well-being and healthy development of young patients. </p>
                    <a href="/templates/index.html"><button class="card-btn">Learn More</button></a>
                </div>
            </div>
    
            <div class="card">
                <img src="/static/gastro.jpg" alt="" class="img1">
                 <div class="card-body">
                    <h1 class="card-title">Gastroenterology Department</h1>
                    <p class="card-subtitle">Our Gastroenterology Department is dedicated to the comprehensive care of digestive system disorders and gastrointestinal issues. Led by experienced gastroenterologists and supported by a skilled medical team, we provide a range of diagnostic and therapeutic services. 
                </p>
                    <a href="/templates/home.html"><button class="card-btn">Learn More</button></a>
                </div>
            </div>

</div>
</body>
</html>