<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Now</title>
    <link rel="stylesheet" href="../static/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header>
    <div class="navbar">
        <a href="index.html" class="logo">
            <img src="../static/Logo.png" alt="HospitEase">       
        </a>
        <ul class="links">
            <li><a href="/templates/home.html">Home</a></li>
            <li><a href="/templates/Login.html">Back</a></li>
            <!-- <li><a href="facilities.html">Facilities</a></li>
            <li><a href="#">Our Staff</a></li> -->
        </ul>
        <!-- <a href="index.html">
        <button class="login-btn">HOME</button>
    </a>
    <a href="Login.html">
        <button class="login-btn">Back</button>
    </a> -->

    </div>
</header>

</head>
<body>
    
    <div class="container">
        <h2>Registration Form</h2>
        <div class="form">
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %} 
                <div class="input-name">
                    <i class="fa fa-user lock "></i>
                    <input type="text" placeholder="First Name" class="name" name="fname">
                    <span>
                        <i class="fa fa-user lock"></i>
                    </span>
                    <input type="text" placeholder="Last Name" class="name" name="lname">
                </div>

                <div class="input-name">
                    <i class="fa fa-envelope email"></i>
                    <input type="email" placeholder="Email" class="text-name" name="un">
                    <span>
                </div>

                <div class="input-name">
                    <i class="fa fa-lock email"></i>
                    <input type="password" placeholder="Password" class="text-name" name="pw">
                </div>
                <div class="input-name">
                    <i class="fa fa-lock"></i>
                    <input type="password" placeholder="Re-Enter Password" class="text-name">
                </div>
                <div class="input-name">
                    <i class="fa fa-phone"></i>
                    <input type="tel" placeholder="Phone Number" class="name" name="pn">
                </div>
                <div class="input-name">
                    <input type="radio" name="g1" value="Male" class="radiobtn">
                    <label style="margin-right: 15px;">Male</label>
                    <input type="radio" name="g1" value="Female" class="radiobtn">
                    <label style="margin-right: 15px;">Female</label>
                    <input type="radio" name="g1" value="Other" class="radiobtn">
                    <label style="margin-right: 15px;">Other</label>
                </div>
            
                <div class="input-name">
                    <input type="checkbox" class="checkbutton"> <label class="check">I accept the terms of service and privacy policy</label>
                </div>
                <div class="input-name">
                    <input type="submit" class="Submit-button" value="Register">
                </div>

            </form>
        </div>
    </div>
</body>
</html>