<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/mock.css">
</head>
<body>
    <div class="card">
        <img src="/static/doc7.png" alt="John" style="width:100%">
        <h1>John Doe</h1>
        <p class="title">Head of Staff</p>
        <p>CNA<br>LPN<br>ARPN</p>
        <p><a href="medinvent.html" ><button>Medical Inventory</button><p></a>
        <p><a href="roombook.html"><button>Room Booking</button></p>
      </div>
</body>
</html>
